.menu {
    width:30%;
    background-color:  #666565;
    border: 2px solid orange;/* Ajout d'un cadre de couleur or */
    margin: 10px; /* Espacement de 20 pixels vers la droite */
    padding: 20px;

  }

  .menu h2{
    color: orange;
      }
  

.menu h3{
    color:white
  }
