.workingarea {
  margin: 10px; /* Espacement de 20 pixels vers la droite */
  padding: 20px;
  border: 2px solid orange; /* Ajout d'un cadre de couleur or */
  background-color: #666565;
}

.workingarea h2 {
  color: orange;
}
