.navbar {
  background-color: #444444;
  color: orange;
  padding: 0.5rem;
  display: flex;
  height: 2vh;
  width: 80vw;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
}
