.footer{
    background-color : #444444;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    position:relative;
     width: 100%; 
    bottom:0;
    left: 0;
    color:orange;
    border-top:1px solid #ddd;
    /*position: absolute;*/
}

.footer.p{
    margin:0;
}