/* .layout {
     display:flex;
    flex-direction:column;
    height: 100 vh; 
    width:100%;
  background-color:  #f2f2f2;
  /* border: 2px solid gold; Ajout d'un cadre de couleur or 
  padding: 10px;
  margin: 10px;
}
.main-layout {
    display:flex;
    flex:1;
    border: 2px solid gold; /* Ajout d'un cadre de couleur or 
   
}*/

.maincontent {
  background-color: gray;
  display:flex;
    flex:1;
  border: 2px solid orange; /* Ajout d'un cadre de couleur or */
  padding: 15px;
  margin-top: 10px;
  margin-left: 0px;
}


